.page-title.background-page {
    background-image: url(../../../assets/img/smart1.jpg);
}

.page-title {
    position: relative;
    min-height: 300px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-title h2 span {
    color: #00ac65;
}

.section-title h2 {
    color: #000;
}

.page-title:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #283a6c;
    opacity: 0.85;
}

.page-title .container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.page-sec-title h1 {
    margin-top: 150px;
    color: #fff;
    font-size: 40px;
    text-align: center;
}


/*-------------------------------------
    36. Contact Section CSS
--------------------------------------*/

.contact-page-section .inner-part .title {
    font-size: 36px;
    color: #101010;
    line-height: 46px;
    font-weight: 700;
    margin-bottom: 14px;
}

.contact-page-section .inner-part .title2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.25em;
    color: #111111;
}

.contact-page-section .inner-part p {
    font-size: 19px;
    color: #363636;
    line-height: 32px;
    font-weight: 400;
}

.contact-page-section .rs-quick-contact {
    background-color: #F9F8F8;
    padding: 70px 150px 70px;
}

.contact-page-section .rs-quick-contact .from-control {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #F1F1F1;
    box-shadow: 0 0 30px #eee;
    color: #363636;
    width: 100%;
    max-width: 100%;
    opacity: 1;
    border-radius: 3px;
    border: 1px solid #ffffff;
    color: #767676;
    background: #ffffff;
    padding: 10px 18px;
}

.contact-page-section .rs-quick-contact textarea {
    height: 140px;
}

.contact-page-section .rs-quick-contact .form-group .btn-send {
    padding: 16px 0px 16px 0px;
    text-transform: uppercase;
    box-shadow: 0px 28px 50px 0px rgba(0, 0, 0, 0.05);
    outline: none;
    border: none;
    padding: 12px 40px;
    border-radius: 3px;
    display: inline-block;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background: #0a72ae;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.contact-page-section .rs-quick-contact .form-group .btn-send:hover {
    opacity: 0.90;
}

.contact-page-section .rs-quick-contact.new-style {
    padding: 70px 60px 70px;
}

.contact-page-section .rs-contact-box .address-item {
    padding: 50px 35px 50px 35px;
    background: #ffffff;
    box-shadow: 0 0 30px #fff;
    text-align: center;
    margin: 0px 20px 0px 0px;
    border-radius: 5px 5px 5px 5px;
}

.contact-page-section .rs-contact-box .address-item .icon-part {
    padding-bottom: 20px;
}

.contact-page-section .rs-contact-box .address-item .icon-part img {
    width: 65px;
}

.contact-page-section .rs-contact-box .address-item .address-text .labels {
    display: block;
    color: #101010;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 10px;
}

.mb-35 {
    margin-bottom: 35px !important;
}

.mb-90 {
    margin-bottom: 50px !important;
}

.contact-page-section .rs-contact-box .address-item .address-text .des {
    font-size: 15px;
    color: #031a3d;
}

.contact-page-section .rs-contact-box .address-item .address-text .des a {
    color: #031a3d;
}

.contact-page-section .rs-contact-box .address-item .address-text .des a:hover {
    color: #0a72ae;
}

.contact-page-section .rs-contact-wrap {
    padding: 40px 35px 30px 35px;
    background-color: #F9F8F8;
    border-radius: 5px 5px 5px 5px;
}

.contact-page-section .rs-contact-wrap .address-item {
    display: flex;
    position: relative;
    margin-bottom: 40px;
}

.contact-page-section .rs-contact-wrap .address-item .address-icon {
    margin-right: 20px;
}

.contact-page-section .rs-contact-wrap .address-item .address-icon i {
    font-size: 35px;
    color: #0a72ae;
}

.contact-page-section .rs-contact-wrap .address-item .address-text .label {
    display: block;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 10px;
    line-height: 1.2;
}

.contact-page-section .rs-contact-wrap .address-item .address-text .des {
    font-size: 18px;
    color: #111111;
    font-weight: 500;
}

.contact-page-section .rs-contact-wrap .address-item .address-text .des a {
    color: #111111;
    font-weight: 500;
}

.contact-page-section .rs-contact-wrap .address-item .address-text .des a:hover {
    color: #0a72ae;
}

.contact-page-section .contact-comment-box .from-control {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #F1F1F1;
    box-shadow: 0 0 30px #eee;
    color: #363636;
    width: 100%;
    max-width: 100%;
    opacity: 1;
    border-radius: 3px;
    border: 1px solid #ffffff;
    color: #767676;
    background: #ffffff;
    padding: 10px 18px;
}

.contact-page-section .contact-comment-box textarea {
    height: 140px;
}

.contact-page-section .contact-comment-box .form-group .btn-send {
    padding: 16px 0px 16px 0px;
    box-shadow: 0px 28px 50px 0px rgba(0, 0, 0, 0.05);
    outline: none;
    border: none;
    padding: 12px 40px;
    border-radius: 3px;
    display: inline-block;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background: #0a72ae;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    width: 100%;
    text-transform: uppercase;
}

.contact-page-section .contact-comment-box .form-group .btn-send:hover {
    opacity: 0.90;
}

.contact-page-section .contact-comment-box.new-style {
    padding: 60px 70px 60px !important;
}

.contact-page-section .contact-map {
    overflow: hidden;
}

.contact-page-section .contact-map iframe {
    float: left;
    width: 100%;
    height: 550px;
    border: none;
}

.contact-page-section .contact-map2 {
    overflow: hidden;
}

.contact-page-section .contact-map2 iframe {
    float: left;
    width: 100%;
    height: 720px;
    border: none;
}

.contact-page-section .contact-map3 {
    overflow: hidden;
}

.contact-page-section .contact-map3 iframe {
    float: left;
    width: 100%;
    height: 600px;
    border: none;
}

.contact-page-section .contact-address-section {
    text-align: center;
    margin: 0 0 50px;
}

.contact-page-section .contact-address-section .contact-info {
    background: #f9f9f9;
    display: flex;
    text-align: left;
    align-items: center;
    padding: 0 30px;
    min-height: 175px;
    border-radius: 5px;
    position: relative;
    transition: all 0.3s ease;
}

.contact-page-section .contact-address-section .contact-info .icon-part {
    margin-right: 30px;
}

.contact-page-section .contact-address-section .contact-info .icon-part i {
    color: #0a72ae;
    font-size: 30px;
    margin: 0;
    padding: 0;
    width: 70px;
    height: 70px;
    line-height: 58px;
    border-radius: 50%;
    text-align: center;
    background: transparent;
    border: 6px solid #f9ede9;
}

.contact-page-section .contact-address-section .contact-info .content-part .info-subtitle {
    font-size: 18px;
    font-weight: 700;
    color: #505050;
    margin: 0 0 5px;
}

.contact-page-section .contact-address-section .contact-info .content-part .info-title {
    font-size: 24px;
    font-weight: 700;
    color: #111111;
    margin: 0;
}

.contact-page-section .contact-address-section .contact-info .content-part a {
    color: #111111;
    display: block;
}

.contact-page-section .contact-address-section .contact-info .content-part a:hover {
    color: #0a72ae;
}

.contact-page-section .contact-address-section .contact-info:hover {
    transform: translateY(-5px);
}

.contact-page-section .contact-address-section.style2 {
    margin: 0;
}

.contact-page-section .contact-comment-section {
    padding: 50px;
}

.contact-page-section .contact-comment-section h3 {
    font-size: 36px;
    margin: 0;
    padding-bottom: 15px;
    font-weight: 700;
}

.contact-page-section .contact-comment-section form .form-group input {
    height: 43px;
    padding: 0 15px;
}

.contact-page-section .contact-comment-section form .form-group input,
.contact-page-section .contact-comment-section form .form-group textarea {
    border: none;
    background: #ffffff;
    border-radius: 0;
    box-shadow: none;
}

.contact-page-section .contact-comment-section form .form-group label {
    color: #505050;
    font-weight: 400;
}

.contact-page-section .contact-comment-section form .form-group input.btn-send {
    text-transform: uppercase;
    color: #ffffff;
    background-color: #0a72ae;
    margin-top: 15px;
    border: none;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: 600;
    padding: 0 50px;
    cursor: pointer;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -ms-transition: 0.4s;
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-100 {
    padding-top: 100px;
}

.contact-page-section .contact-comment-section form .form-group input.btn-send:hover {
    background: #ed3600;
}

.contact-page-section .contact-bg1 {
    background: #f9f9f9;
}