<main id="main" class="site-main">
    <div class="contact-us">
        <div class="page-title background-page">
            <div class="container">
                <div class="page-sec-title">
                    <h1>Contact Us</h1>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="ticket-card">
    <div class="help-text contact">
        <h2 class="title">Contact</h2>
        <h6 class=""><i class="fa fa-envelope" aria-hidden="true"></i>Email</h6>
        <p>contact@tickbuy.com </p>
        <h6><i class="fa fa-phone" aria-hidden="true"></i>Tel</h6>
        <p>+234 80 5555 0892</p>
        <h6><i class="fa fa-clock-o" aria-hidden="true"></i>Opening Hours</h6>
        <p class="text-black">Monday - Friday: 09:00 AM – 06:00 PM</p>
        <p class="text-black">Saturday: Email/Phone support</p>
        <p class="text-black mb-2">Sunday: Closed</p>
        <p>If you have any issues with your tickets and our offices are closed please go directly to the event box office where event staff will be able to deal with your query.</p>
        <h6><i class="fa fa-clock-o" aria-hidden="true"></i>Outside Opening Hours</h6>
        <p>Tiqbuy strive to provide the best customer experience possible. If you do have a problem or query outside of the hours above please do not hesitate to contact us and we will try our best to assist you.</p>
        <h6><i class="fa fa-map-marker" aria-hidden="true"></i>Head Office</h6>
        <p class="mb-2">No 25, Lobito Crescent, Wuse 2, Abuja Company Number: 08055550892
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3939.926671050022!2d7.489332414829133!3d9.070445190835876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104e0a52976ffe49%3A0x7126875ab51caf17!2s25+Lobito+Cres%2C+Wuse%2C+Abuja%2C+Nigeria!5e0!3m2!1sen!2sin!4v1547113699315"
            width="100%" height="auto" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>
</div>
<div class="contact-info-area pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="contact-info">
                    <i class="fa fa-map-marker"></i>
                    <span>Location:</span>
                    <a href="#">A-402, RJD Business Hub, Naginawadi, Kasa Nagar, Katargam, Surat – 395004.</a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="contact-info">
                    <i class="fa fa-phone"></i>
                    <span>Phone:</span>
                    <a href="tel:+918000727677">+918000727677</a>
                    <a href="tel:+917567540000">+917567540000</a>
                </div>
            </div>
            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="contact-info">
                    <i class="fa fa-envelope"></i>
                    <span>Email:</span>
                    <a href="mailto:parmarthmission@gmail.com">parmarthmission@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <form id="contactForm" class="formpart" novalidate="true">
            <h2>Leave Feedback</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, iusto possimus doloremque amet vitae facere blanditiis nulla explicabo obcaecati nihil ipsam deleniti nesciunt illo, non iure</p>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label><i class="icofont-user-alt-3"></i></label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="Name" required="" data-error="Please enter your name">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>
                            <i class="icofont-ui-email"></i>
                        </label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Email" required="" data-error="Please enter your email">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group has-error">
                        <label><i class="icofont-comment"></i></label>
                        <textarea name="message" class="form-control" id="message" cols="30" rows="8" placeholder="Write message" required="" data-error="Write your message"></textarea>
                        <div class="help-block with-errors">
                            <ul class="list-unstyled">
                                <li>Write your message</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <button type="submit" class="btn common-btn disabled" style="pointer-events: all; cursor: pointer;">
                        Send Message
                    </button>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </div>
</div>