<app-menu></app-menu>

<div class="main-content" style="margin-top: 90px;">
    <!-- Breadcrumbs Start -->
    <main id="main" class="site-main">
        <div class="contact-us">
            <div class="page-title background-page">
                <div class="container">
                    <div class="page-sec-title">
                        <h1>Contact Us</h1>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Breadcrumbs End -->

    <!-- Contact Section Start -->
    <div class="contact-page-section pt-100 pb-100 md-pt-70 md-pb-70">
        <div class="container">
            <div class="row rs-contact-box mb-90 md-mb-50">
                <div class="col-lg-4 col-md-12-4 lg-pl-0 sm-mb-30 md-mb-30">
                    <div class="address-item">
                        <div class="icon-part">
                            <img src="../../../assets/img/1.png" alt="">
                        </div>
                        <div class="address-text">
                            <span class="labels">Address</span>
                            <span class="des">C-505 , Shiv Dhara Heights , Surat , Gujarat</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 lg-pl-0 sm-mb-30 md-mb-30">
                    <div class="address-item">
                        <div class="icon-part">
                            <img src="../../../assets/img/2.png" alt="">
                        </div>
                        <div class="address-text">
                            <span class="labels">Email Address</span>
                            <span class="des"><a href="mailto:info@rstheme.com">info@rstheme.com</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 lg-pl-0 sm-mb-30">
                    <div class="address-item">
                        <div class="icon-part">
                            <img src="../../../assets/img/3.png" alt="">
                        </div>
                        <div class="address-text">
                            <span class="labels">Phone Number</span>
                            <span class="des"><a href="tel%2b0885898745.html">(+088)589-8745</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 md-mb-30">
                    <!-- Map Section Start -->
                    <div class="contact-map3">
                        <!-- <iframe src="https://maps.google.com/maps?q=Fort%20Miley&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe> -->
                        <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=C-505%20,%20Shiv%20Dhara%20Heights%20,%20Surat%20,%20Gujarat+(ETF)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                    </div>
                </div>
                <div class="col-lg-6 pl-60 md-pl-15">
                    <div class="contact-comment-box">
                        <div class="inner-part">
                            <h2 class="title mb-mb-15">Get In Touch</h2>
                            <p>Have some suggestions or just want to say hi? Our support team are ready to help you 24/7.</p>
                        </div>
                        <div id="form-messages"></div>
                        <form id="contact-form" method="post" action="https://keenitsolutions.com/products/html/educavo/mailer.php">
                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                                        <input class="from-control" type="text" id="name" name="name" placeholder="Name" required="">
                                    </div>
                                    <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                                        <input class="from-control" type="text" id="email" name="email" placeholder="Email" required="">
                                    </div>
                                    <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                                        <input class="from-control" type="text" id="phone" name="phone" placeholder="Phone" required="">
                                    </div>
                                    <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                                        <input class="from-control" type="text" id="subject" name="subject" placeholder="Subject" required="">
                                    </div>

                                    <div class="col-lg-12 mb-35">
                                        <textarea class="from-control" id="message" name="message" placeholder=" Message" required=""></textarea>
                                    </div>
                                </div>
                                <div class="form-group mb-0">
                                    <input class="btn-send" type="submit" value="Submit Now">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Section End -->

</div>
<app-footer></app-footer>