<nav class="navbar navbar-expand-lg navbar-light">
    <div class="">
        <a class="navbar-brand" href="#"><img src="../../../assets/img/hicon.png" alt="" class="img-fluid" /></a>
        <div id="toggle" class="button_container">
            <h4>Menu</h4>
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
        </div>
    </div>
    <div class="overlay" id="overlay">
        <nav class="overlay-menu">

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <h3 class="fw-bolder mb-5">Pages</h3>
                                <ul class="menu menu-column menu-fit menu-rounded menu-gray-600 menu-hover-primary menu-active-primary fw-bold fs-6 mb-10">
                                    <li class="menu-item">
                                        <a class="menu-link ps-0 py-2 active" routerLink="Home">Home</a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link ps-0 py-2" routerLink="/contact-us">Contact Us</a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link ps-0 py-2" routerLink="formc">Enquiry</a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link ps-0 py-2" routerLink="/about-us">About</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <h3 class="fw-bolder mb-5">Account</h3>
                                <ul class="menu menu-column menu-fit menu-rounded menu-gray-600 menu-hover-primary menu-active-primary fw-bold fs-6 mb-10">
                                    <li class="menu-item">
                                        <a class="menu-link ps-0 py-2" routerLink="/auth/login">Sign Up</a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link ps-0 py-2" routerLink="/auth/login">Sign In</a>

                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <h3 class="fw-bolder mb-5">General</h3>
                                <ul class="menu menu-column menu-fit menu-rounded menu-gray-600 menu-hover-primary menu-active-primary fw-bold fs-6 mb-10">
                                    <li class="menu-item">
                                        <a class="menu-link ps-0 py-2" href="/start/general/faq.html">FAQ</a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link ps-0 py-2" href="/start/general/pricing.html">Pricing</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="fw-bolder mb-8">Quick Links</h3>
                        <!--begin::Row-->

                        <!--end::Row-->
                        <!--begin::Row-->
                        <div class="row g-5">
                            <div class="col-sm-8">
                                <a href="#" class="card bg-light-primary hoverable min-h-125px shadow-none mb-5">
                                    <div class="card-body d-flex flex-column flex-center text-center">
                                        <h3 class="fs-3 mb-2 text-dark fw-bolder">Try Now</h3>
                                        <p class="mb-0 text-gray-600">Pro Version</p>
                                    </div>
                                </a>
                                <!--begin::Row-->
                                <div class="row g-5">
                                    <div class="col-sm-6">
                                        <a class="card bg-light-warning hoverable shadow-none min-h-125px mb-5">
                                            <div class="card-body d-flex flex-column flex-center text-center">
                                                <h3 class="fs-3 mb-2 text-dark fw-bolder">Support</h3>
                                                <p class="mb-0 text-gray-600">6 Month Free</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="#" class="card bg-light-success hoverable shadow-none min-h-125px mb-5">
                                            <div class="card-body d-flex flex-column flex-center text-center">
                                                <h3 class="fs-3 mb-2 text-dark fw-bolder">Demo</h3>
                                                <p class="mb-0 text-gray-600">Free Version</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!--end::Row-->
                            </div>
                            <div class="col-sm-4">
                                <a href="#" class="card card-stretch mb-5 bg-light-info hoverable shadow-none min-h-250px">
                                    <div class="card-body d-flex flex-column p-0">
                                        <div class="d-flex flex-column flex-center text-center px-5 pt-10">
                                            <h3 class="fs-3 mb-2 text-dark fw-bolder">Quick Start</h3>
                                            <p class="mb-0 text-gray-600">Single Click Import</p>
                                        </div>
                                        <div class="flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom card-rounded-bottom" style="background-image:url('../../../assets/img/terms-1.svg')"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--end::Row-->
                    </div>
                </div>
            </div>
        </nav>
    </div>
</nav>