<div class="body">
    <div class="main">
        <app-menu></app-menu>
        <div class="banner">
            <div class="row">
                <div class="col-md-12 col-lg-8 banner-left-content pr-0">

                    <div class="owl-carousel slider">
                        <div class="slider__item">
                            <div class="slider-content">
                                <h2>Religious <span class="text-blue">Education</span>
                                </h2>
                                <h4>Education was based on books and lectures
                                </h4>
                                <p>In the early ages, formal education used to include religious knowledge as well but today due to secularism, religion has become a private matter and students have the opportunity to learn their own religion in the way
                                    they want to learn. Due to religious education, gender segregation was mainly emphasized that women must only attend religious education, while men can attend other subjects as well.</p>
                                <!-- <a class="readmore-btn" routerLink="/Home/learn-more">Read More <i class="fa fa-angle-right ml-2" aria-hidden="true"></i></a> -->

                            </div>
                        </div>
                        <div class="slider__item">
                            <div class="slider-content">
                                <h2>Present <span class="text-blue">Education</span></h2>

                                <h4>Revolution learning experience is remarkable</h4>
                                <p>Comprehensive and extensive learning was not easy before. People can educate themselves in any part of the world through their tablets, laptops, and mobiles. They don’t have to wait for a book for months to be delivered
                                    and then they read it. There are online reading books easily accessible at cheap rates.</p>
                                <!-- <a routerLink="/Home/learn-more" class="readmore-btn">Read More <i class="fa fa-angle-right ml-2" aria-hidden="true"></i></a> -->

                            </div>
                        </div>
                        <div class="slider__item">
                            <div class="slider-content">

                                <h2>Innovative<span class="text-blue"> Education</span></h2>
                                <h4>Innovative education available in the interest of the student
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non leo at tortor faucibus mattis. Donec commodo erat risus, sodales faucibus lorem suscipit vel. Cras nec sem at diam elementum ultrices quis</p>
                                <!-- <a routerLink="/Home/learn-more" class="readmore-btn">Read More <i class="fa fa-angle-right ml-2" aria-hidden="true"></i></a> -->

                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-12 col-lg-4 banner-right-content" style="background-image: url(../../../assets/img/133.png);">
                    <div class="banner-animate-globe-img">
                        <!-- <img src="../../../assets/img/globe-img3.png" class="img-fluid globe-particle-img" alt="" /> -->
                        <img src="../../../assets/img/banner-globe.svg" class="img-fluid" alt="" />

                    </div>
                </div>
            </div>
        </div>

        <div class="service-section">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2>Explore</h2>
                        <h3>Explore</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-4 service-box" routerLink="formc">

                        <div class="services-box-content">
                            <h4>Market Treding</h4>
                            <h5>HM</h5>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots Ipsum is not simply random text. It has roots </p>
                        </div>
                        <div class="service-bottom-icon">
                            <i class="fa fa-search-plus" aria-hidden="true"></i>

                        </div>
                        <div class="service-box-num">
                            <h5>01</h5>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-4 service-box" routerLink="formc">

                        <div class="services-box-content">
                            <h4>Future Business</h4>
                            <h5>HM</h5>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots </p>
                        </div>


                    </div>

                    <div class="col-md-12 col-lg-4 service-box" routerLink="formc">

                        <div class="services-box-content">
                            <h4>Innovation Business</h4>
                            <h5>HM</h5>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots </p>
                        </div>
                        <div class="service-bottom-icon">
                            <i class="fa fa-search-plus" aria-hidden="true"></i>

                        </div>
                        <div class="service-box-num">
                            <h5>03</h5>
                        </div>
                    </div>

                </div>
            </div>


        </div>

        <div class="big-image-section">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2>Latest Information</h2>
                        <h3>Latest Information</h3>
                    </div>
                    <div class="section-sub-title">
                        <h5>Cigs Solar Fanci Every Where</h5>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="row  ml-0 mr-0 mt-5">
                    <div class="col-md-6 px-0">
                        <div class="images-block">
                            <img src="../../../assets/img/big-img-left-top.svg" class="img-fluid" alt="" />
                        </div>
                        <div class="images-block">
                            <img src="../../../assets/img/big-img-left-bottom.svg" class="img-fluid" alt="" />
                        </div>
                    </div>

                    <div class="col-md-6 px-0">
                        <div class="images-block">
                            <img src="../../../assets/img/big-img-right.svg" class="img-fluid" alt="" />
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="advantage-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-4 advantage-img">
                        <div class="advantage-img-box">
                            <img src="../../../assets/img/testimonial-img.svg" class="img-fluid" alt="" />
                            <img src="../../../assets/img/advantage.png" class="img-fluid blue-block" alt="" />
                        </div>
                        <div class="advantage-img-content">
                            <h4>Sub Heading</h4>
                            <h3>No limiy for<br>Information</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-8 advantage-content">
                        <h2>Our Advantages</h2>
                        <h3>you need to know</h3>
                        <ul>
                            <li><img src="../../../assets/img/point.png" class="img-fluid mr-3" alt="" /> We got worldwide Information</li>
                            <li><img src="../../../assets/img/point.png" class="img-fluid mr-3" alt="" /> We deal in all kind of business & education</li>
                            <li><img src="../../../assets/img/point.png" class="img-fluid mr-3" alt="" /> We have more & more Information</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="info-offer-section">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2>Info Offer</h2>
                        <h3>Info Offer</h3>
                    </div>

                </div>
                <div class="row mt-3 mt-md-5 mt-lg-5 justify-content-between">
                    <div class="col-md-4 info-box">
                        <img src="../../../assets/img/info1.svg" class="img-fluid" alt="" />
                        <div class="hover-sticker">
                            View
                        </div>
                    </div>

                    <div class="col-md-4 info-box">
                        <img src="../../../assets/img/info2.svg" class="img-fluid" alt="" />
                        <div class="hover-sticker">
                            View
                        </div>
                    </div>

                    <div class="col-md-4 info-box">
                        <img src="../../../assets/img/info3.svg" class="img-fluid" alt="" />
                        <div class="hover-sticker">
                            View
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <app-footer></app-footer>

    </div>
</div>