<app-menu></app-menu>

<main id="main" class="site-main" style="margin-top: 90px;">
    <div class="contact-us">
        <div class="page-title background-page">
            <div class="container">
                <div class="page-sec-title">
                    <h1>About</h1>
                </div>
            </div>
        </div>
    </div>
</main>

<section class="about-page welcome-area section-padding gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="welcome-content-wrapper wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="section-title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <h2>About <span>Enjoy Help</span></h2>
                                <div class="title-shape">
                                    <span></span>
                                </div>
                            </div>

                            <p class="text-center">Enjoy Helps is not Company&nbsp;or&nbsp;not&nbsp;any&nbsp;Organization, So there is no boss or owner. Enjoy Helps is not a business or Marketing&nbsp; company Though is a&nbsp; India Based&nbsp;International community of Social
                                Virus who want to change "The World" with a simple concept "Give&nbsp; help" who needs and "Get&nbsp; help" when you need. It is for those who want to do something different in the world. Enjoy Helps is only tools or system
                                which&nbsp; help&nbsp; the people to assist each other. Enjoy Helps&nbsp; is&nbsp; One&nbsp; Of&nbsp; the social Community who are Helping&nbsp; each others.</p>

                            <p class="text-center">There are no Investment , No Business activity , No company . Just the Platform for&nbsp; Helping&nbsp; People .&nbsp; Its&nbsp; &nbsp; the chance&nbsp; for&nbsp; Social Services&nbsp; In this Human World. There are&nbsp; No
                                share , No any&nbsp; professional participation, no&nbsp; share market , NO&nbsp; any products.&nbsp;NO&nbsp; NO&nbsp; NO&nbsp; NO NO</p>

                            <p class="text-center">Enjoy Helps is a social community with sources of income concept by&nbsp; helping&nbsp; each other but not guaranteed. You can loose your money also.</p>

                            <p class="text-center">Here, people&nbsp; help&nbsp; each other. Today you&nbsp; help&nbsp; someone - tomorrow you will be&nbsp; helped&nbsp; out! This is a principle of Enjoy Helps . Join Enjoy Helps , and let your money&nbsp; help&nbsp; those who
                                actually need&nbsp; help! Low-income, disabled, pensioners ... Mother of many children. Love your neighbor!&nbsp; Help&nbsp; him.</p>

                            <p class="text-center">By&nbsp; helping&nbsp; each other we can make a new society more brighter and cleaner one.</p>
                            <p class="text-center">Start&nbsp; helping&nbsp; today and get&nbsp; help&nbsp; when you needed.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="post-area section-padding mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="section-title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <h2>We are Helping organization, We help people worldwide and delivering customer service</h2>
                    <div class="title-shape">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-equal-height">
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <article class="tw-instruction service-contain">
                    <h4>Where we work</h4>
                    <div class="service-line"></div>
                    <p>We continually strives to maintain high national and international standards of professional competence and is accountable through appropriate structures for achieving these standards.</p>
                </article>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <article class="tw-instruction service-contain">
                    <h4>What We Do</h4>
                    <div class="service-line"></div>
                    <p>We have our policies, procedures, systems, practices, work culture and audits well in place to reflect our commitment to accountability and transparency.</p>
                </article>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <article class="tw-instruction service-contain">
                    <h4>Who We Are</h4>
                    <div class="service-line"></div>
                    <p>Enjoy Helps is an organization working to create a positive and enduring change in the lives of children, families and communities living in abject poverty and undue inequality</p>
                </article>
            </div>
        </div>
    </div>

</section>